body {
    background-color: #555555;
}

#titlebar {
    height: 10vh;
    width: 100%;

    background-color: #999;

    top: 0;
    left: 0;
    padding-top: 0;
    position: fixed;
    margin: 0;
    display: inline-block;
}

#title {
    display: inline;
    vertical-align: middle;
    float: left;
    margin-left: 25px;

    /* text font */
    font-style: normal;
    font-size: 24px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff
}

#gen-gif-btn {
    display: inline;
    vertical-align: middle;
    float: right;
    margin-right: 25px;

    /*border: 2px solid #aaaaaa;*/
    border: none;
    background-color: #666;

    /* text font */
    font-style: normal;
    font-size: 24px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff
}

#gen-gif-btn:hover {
    color: #77bbff;
}

#gen-gif-btn:active {
    color: #77ffbb;
}

#canvas {
    float: left;
    width: 47vw;
    height: 26.4375vw;

    margin-left: 1.0vw;
    margin-right: 0.5vw;

    background-color: #000;
}

#import-panel {
    float: left;
    display: block;

    /* dimensions */
    width: 47vw;
    height: 26.4375vw;

    /* leave space between canvas and window edge */
    margin-left: 0.5vw;
    margin-right: 1.0vw;

    /* leave space between elements in the div and the top and bottom edges */
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    /* rounded rectangle with border */
    /*border-radius: 25px;*/
    border: 2px solid #aaaaaa;
    background-color: #666;

    /* provide a vertical scrollbar only if one is needed */
    overflow-y: auto;
    overflow-x: hidden;
}

#import-button {
    width: 200px;
    height: 112.5px;
    margin: 5px;
    display: inline;
    vertical-align: middle;

    /* rounded rectangle with border */
    /*border-radius: 25px;*/
    border: 2px solid #aaaaaa;
    background-color: #666;

    /* text font */
    font-style: normal;
    font-size: 24px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #fff
}

#import-button:hover {
    color: #77bbff;
}

#import-button:active {
    color: #77ffbb;
}

.video-preview {
    width: 200px;
    height: auto;
    margin: 5px;
    display: inline;
    vertical-align: middle;
}

#timeline {
    float: left;
    width: 95vw;
    height: 20vh;
    display: block;

    /* leave space between canvas, import panel and window edges */
    margin-top: 1.0vw;
    margin-left: 1.0vw;
    margin-right: 1.0vw;

    /* rectangle border around the timeline */
    border: 2px solid #aaaaaa;
    background-color: #666;
}
